uv.lock
data/samples/test_video.mp4
logs/*
.venv
metrics/*
src/components/__pycache__/
src/pipeline/__pycache__/
src/core/__pycache__/
src/cli/__pycache__/
src/utils/__pycache__
docker/plugins/apoc-5.26.16-core.jar
scripts/plot/__pycache__
injection_run.log
docker/plugins_new/apoc-5.26.16-core.jar
data/export_graph/pruned
